
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
<div class="jumbotron">
    <h1>Sistema de Registro de Login</h1>
    <p class="lead">Este es un ejemplo de Registro de Login utilizando DBML</p>
    <p><a href="https:/asp.net" class="btn btn-primary btn-lg">Leer Mas &raquo;</a></p>
</div>
